@import url('lato_https_fix.css');
/*https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");*/

/* ---- Normalize ---- */
@import url('normalize.css');
/*  https://necolas.github.io/normalize.css/3.0.2/normalize.css'); */

/* ---- Utils ---- */
.grid:after {
	content: "";
	display: table;
	clear: both;
}

.icn--nav-toggle:before {
	display: block;
	content: '';
	position: absolute; }

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

.centered, .grid {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* =================================
	Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #797e83;
	margin: 0;
	/*background: url('../_img/bg-11.jpg') repeat;*/
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
	margin-top: 0;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

h4 {
	color: #d6d7d9;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.875em;
}

::selection {
	background: #d6d7d9;
	color: white;
}

/* =================================
	Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
	margin-top: 5px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #797e83;
	color: #d6d7d9;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #0b0b0b;
		border-color: #525559;
}

.main-nav .selected {
	color: #0b0b0b;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

#header-horses {
	/*background-color: rgba(30,30,30, .75);*/
	background-image: url("../_img/1600x500_riding.jpg");
	background-size: cover;
		width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
		/*min-height: 300px;*/
}
#header-holder {
		background-color: rgba(0,0,0,0.55);
		height: 250px;
}
.main-logo {
	/*border: 1px solid pink;*/
	width: 270px;
	height: 170px;
	margin: 45px auto 0;
}

.site-logo {
	background-image: url("../_img/logo_white.png");
	background-repeat: no-repeat;
	width: 270px;
	height: 170px;
	display: inline-block;
	background-size: 100%;
}

.gallery {
	/*border: 1px solid pink;*/
	margin-top: 20px;
}

.gallery h4 {
	margin-top: .8em;
}

.thumbnail a {
	color: #797e83;
}

.thumbnail a:hover {
	/*text-decoration: underline;*/
	border-bottom: 1px solid #eee;
}

.icn--nav-toggle {
	width: 25px;
	height: 17px;
	border-top: solid 3px #797e83;
	border-bottom: solid 3px #797e83;
	position: relative;
}

.icn--nav-toggle:before {
		width: 25px;
		height: 3px;
		background: #999da1;
		top: 4px;
}

.icn--close {
	background-image: url("../_img/icn-close.svg");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 4%;
	top: 4%;
}

.toggle {
	cursor: pointer;
}

.toggle:hover {
	color: #0b0b0b;
}


/* ---- Page Elements ---- */

.headline--centered {
	text-align: center;
}

.headline--noBold {
	font-weight: normal;
}

.icn--nav-toggle, .icn--close {
	line-height: 0;
	cursor: pointer;
}

.img--wrap {
	border: 1px solid #d6d7d9;
	padding: 0.75em;
}

.img--avatar,
.img--avatar--mobile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 6px solid #eee;
	cursor:pointer;
}


/* ---- Page Specific : Welcome : Horses : Contact ---- */

.welcome {
	display: none;
}
.contact {
	margin-top: 30px;
	display: none;
}
.horses {
	margin-top: 30px;
}


/* =================================
	Gallery Grid Sytem and Container
==================================== */

/* ---- Grid ---- */

.grid {
	width: 90%;

}

.horse-details {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
}

[class*="grid__col--"] > .grid {
	width: 100%;
}

.container {
	max-width: 1100px; }

.container {
	margin-right: auto;
	margin-left: auto;
	/*border: 1px solid pink;*/ }

.container:before, .container:after {
	content: " ";
	display: table; }

.container:after {
	clear: both; }


/* =================================
	Table
==================================== */

/* ---- Table ---- */

.table_container {
	display: none;
	text-align: center;
	width: ;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;

}

.table {
	display: flex;
	border-top: 1px solid black;
	border-left: 1px solid black;
	max-width: 90%;
	margin: 0 auto;
}

.column {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	width: 25%;
	border-right: 1px solid black;
	max-height: 1000px;
	text-align: center;
}

.column span {
	display: block;
}

.cell {
	display: flex;
	flex-flow: column;
	justify-content: center;
	flex: 1 auto;
	border-bottom: 1px solid black;
}


/* =================================
	Gallery
==================================== */

/* ---- Gallery ---- */
#insert_gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1 auto;
	width: 90%;
	max-width: 1050px;
	margin: 0 auto;
}

.img-avatar {
	border-radius: 50%;
	border: 6px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
}

.img_wrap {
	position: relative;
	width: 147px;
	height: 147px;
	margin: 0 auto;
}

.thumbnail {
	text-align: center;
	padding: 15px;
}

.play-button {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 6px solid #eee;
	opacity: 0;
	transition: opacity 250ms;
}

.return-button {
	margin-top: 5px;
}

.gallery_name {
	margin-bottom: 0;
	margin-top: 7px;
}

.play-button:hover {
	opacity: 0.7;
}

video {
	max-width: 800px;
	width: 100%;
	height: auto;
}

@media (min-width: 500px) {
	#insert_gallery {
		flex-direction: row;
	}
	.thumbnail {
		width: 50%;
	}
}
@media (min-width: 700px) {
	#insert_gallery {
		flex-direction: row;
	}
	.thumbnail {
		width: 33%;
	}
}
@media (min-width: 900px) {
	#insert_gallery {
		flex-direction: row;
	}
	.thumbnail {
		width: 25%;
	}
}
@media (min-width: 1000px) {
	#insert_gallery {
		flex-direction: row;
	}
	.thumbnail {
		width: 20%;
	}
}


/* =========================================
	Media Queries - As browser size increases
============================================ */

@media (min-width: 769px) {

	/* Base
	================================ */

	h4 {
			margin-top: 2.625em;
		}

	/* Header and Banner
	================================ */

	.main-header {
		width: 80%;
		margin: 0 auto;
		max-width: 1050px;
	}

	#header-horses{
		background-image: url("../_img/1600x500_horses.jpg");
			background-size: cover;
			width: 100%;
		background-repeat: no-repeat;
		background-position: top center;
			min-height: 300px;
	}

	#header-holder {
			height: 300px;
	}

	.main-logo {
		margin: 105px 0 0 30px;
	}

	/* ---- flexbox for header nav ---- */

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1;
	}

	/* Page Elements
	================================ */

	.img--avatar {
				margin-top: 1.5em;
		}

		.img--hero {
			margin-bottom: 2.625em;
	}

	/* Grid
	================================ */

	.grid__col--1 {
			width: 6.5%;
	}
	.grid__col--2 {
			width: 15%;
	}
	.grid__col--3 {
			width: 23.5%;
	}
	.grid__col--4 {
			width: 32%;
	}
	.grid__col--5 {
			width: 40.5%;
	}
	.grid__col--6 {
			width: 49%;
	}
	.grid__col--7 {
			width: 57.5%;
	}
	.grid__col--8 {
			width: 66%;
	}
	.grid__col--9 {
			width: 74.5%;
	}
	.grid__col--10 {
			width: 83%;
	}
	.grid__col--11 {
			width: 91.5%;
	}
	.grid__col--12 {
			width: 100%;
	}

	[class^="grid__col--"] {
			float: left;
			min-height: 1px;
			padding-left: 10px;
			padding-right: 10px; }
			[class^="grid__col--"] + [class^="grid__col--"] {
				margin-left: 2%; }
			[class^="grid__col--"]:last-of-type {
				float: right;
	 }

}

@media (min-width: 1px) and (max-width: 768px) {
	[class^="grid__col--"] {
			margin-top: 0.75em;
		margin-bottom: 0.75em;
	}
}

 @media (min-width: 1025px) {
	/* ---- flexbox for header nav ---- */
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
}

 @media (min-width: 1050px) {
		.grid {
			max-width: 1050px;
		}
 }


 /* ---- States and Debug ---- */

.TEST {
	position: absolute;
	margin-bottom: 0;
	color: #e2e2e2;
}

.is-hidden {
	display: none;
}

.theme__poly .grid [class*="grid__col"] {
	font-weight: 100;
	margin-bottom: 1em;
	padding: 1.75%;
}

.theme__poly .grid__col--12 {
	background-color: #DEF4E5; }

.theme__poly .grid__col--8 {
	background-color: #DCE0F2; }

.theme__poly .grid__col--7 {
	background-color: #DCF0EF; }

.theme__poly .grid__col--6 {
	background-color: #FFE3DB; }

.theme__poly .grid__col--4 {
	background-color: #F8EDD0; }

.theme__poly .grid__col--5 {
	background-color: #EAEBEC; }

.theme__poly .grid__col--2 {
	background-color: #C5E2CE; }

.theme__poly .grid__col--3 {
	background-color: #D6EEF5; }
