#insert_gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 auto;
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

.img-avatar {
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.img_wrap {
  position: relative;
  width: 147px;
  height: 147px;
  margin: 0 auto;
}

.thumbnail {
  text-align: center;
  padding: 15px;
}

.play-button {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 6px solid #eee;
  opacity: 0;
  transition: opacity 250ms;
}

.gallery_name {
  margin-bottom: 0;
  margin-top: 7px;
}

.play-button:hover {
  opacity: 0.7;
}

video {
  max-width: 800px;
  width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  #insert_gallery {
    flex-direction: row;
  }
  .thumbnail {
    width: 50%;
  }
}
@media (min-width: 700px) {
  #insert_gallery {
    flex-direction: row;
  }
  .thumbnail {
    width: 33%;
  }
}
@media (min-width: 900px) {
  #insert_gallery {
    flex-direction: row;
  }
  .thumbnail {
    width: 25%;
  }
}
@media (min-width: 1000px) {
  #insert_gallery {
    flex-direction: row;
  }
  .thumbnail {
    width: 20%;
  }
}
