  /*===== Play button =====*/
  #play-container {
    /*float:left;*/
    position:relative;
  }

  #play-container:hover .play {
    display: block;
  }

.play {
  position: absolute;
  display: none;
  top: 28%;
  width: 80%;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100
}
/*===== /Play button =====*/

/*===== Video =====*/
.hide {
  display: none;
}

/*===== /Video =====*/
/* =========================================
  Media Queries - As browser size increases
============================================ */

@media (min-width: 769px) {
.img--avatar--mobile{
	display: none;
}
.img--avatar{
	display: block;
}

/*** BEGIN PLAY BUTTON OVERLAY - DP ***/
a.play-button-link {
	position:relative;
	display:inline-block;
	line-height:0px;
	/*border: 1px solid pink;*/
}

a.play-button-link img.play-button {
	/*border: 1px solid blue;*//*Temporary border to show play button location*/
  	position: absolute;
  	top: 0;
  	width: 100%;
	opacity:0;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";*/ /*IE fix for alpha transparency, however it doesn't work with transparent .pngs*/
	display:inline-block;
	/*max-width: 20%;	*/
	transition: opacity 250ms;
}


a.play-button-link:hover img.play-button {
	opacity:.7;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/ /*IE fix for alpha transparency, however it doesn't work with transparent .pngs*/
	cursor: pointer;
}

/*** END PLAY BUTTON OVERLAY - DP***/
}


