.table_container {
  display: none;
  width: 90%;
  margin: 10px auto;
}

.table {
  display: flex;
  border-top: 1px solid black;
  border-left: 1px solid black;
  max-width: 100%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 25%;
  border-right: 1px solid black;
  height: 1500px;
  text-align: center;
}

.column input {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.cell {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1 auto;
  border-bottom: 1px solid black;
}
