<div class="grid ancestry-1 is-hidden">
  <div class="grid__col--12">
    <table border="1"class="centered">
            <tr>
                <td width="275" rowspan="8">
                    <p>Exclusive Pride</p>
                    <p>802065</p>
                </td>
                <td width="275" rowspan="4">
                    <p>Pride of Midnight H.F.</p>
                    <p>661459</p>
                </td>
                <td width="275" rowspan="2">
                    <p>Midnight Sun (WGC)</p>
                    <p>410751</p>
                </td>
                <td width="275">
                    <p>Wilson's Allen</p>
                    <p>350075</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Ramsey's Rena</p>
                    <p>410682</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="2">
                    <p>Pride of Stanley</p>
                    <p>472897</p>
                </td>
                <td width="275">
                    <p>Merry Maker</p>
                    <p>410944</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Patsy Delbridge</p>
                    <p>443146</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="4">
                    <p>Delight's Lady K.</p>
                    <p>713928</p>
                </td>
                <td width="275" rowspan="2">
                    <p>Sun's Delight D. (WGC)</p>
                    <p>592756</p>
                </td>
                <td width="275">
                    <p>Midnight Sun (WGC)</p>
                    <p>410751</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Wilson Snip's Chance</p>
                    <p>492405</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="2">
                    <p>Go Boy's Lady K.</p>
                    <p>631510</p>
                </td>
                <td width="275">
                    <p>Merry Go Boy (WGC)</p>
                    <p>431336</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Merry Boy's Lady K.</p>
                    <p>570471</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="8">
                    <p>Sun's Piddley Dee</p>
                    <p>774901</p>
                </td>
                <td width="275" rowspan="4">
                    <p>Sun's Merry Man</p>
                    <p>620157</p>
                </td>
                <td width="275" rowspan="2">
                    <p>Reyclif Mid-Merry</p>
                    <p>561395</p>
                </td>
                <td width="275">
                    <p>Midnight Sun (WGC)</p>
                    <p>410751</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Baby Ray</p>
                    <p>430979</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="2">
                    <p>Lady's High Calico</p>
                    <p>540232</p>
                </td>
                <td width="275">
                    <p>Golden Sun Allen</p>
                    <p>461763</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Lady High Heels</p>
                    <p>473441</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="4">
                    <p>Majorette's Gala</p>
                    <p>677176</p>
                </td>
                <td width="275" rowspan="2">
                    <p>Liberace's Playboy</p>
                    <p>590720</p>
                </td>
                <td width="275">
                    <p>Eagle's Mr. Liberace</p>
                    <p>541209</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Bond Rally</p>
                    <p>453170</p>
                </td>
            </tr>
            <tr>
                <td width="275" rowspan="2">
                    <p>Calico's Majorette</p>
                    <p>623584</p>
                </td>
                <td width="275">
                    <p>Merry Boy's Major</p>
                    <p>462820</p>
                </td>
            </tr>
            <tr>
                <td width="275">
                    <p>Lady's High Calico</p>
                    <p>540232</p>
                </td>
            </tr>
        </table>
    </div>
</div>
