<div class = "thumbnail">
  <div class="img_wrap"><img class="img-avatar" src={{img_thumbnail}} />
    <a href="https://treehouse-code-samples.s3.amazonaws.com/html-video-and-audio/bridge.mp4" data-featherlight="iframe" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><img class="play-button vid_img" src="_img/play-overlay.png" /></a>
  </div>
 <p class="gallery_name"> {{#if description}}<a href=#{{nickname}}>{{nickname_space}}</a>{{else}}{{nickname_space}}{{/if}} </p>
</div>

<!-- data-featherlight-iframe-maxwidth="800px" -->
